*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body,#app{
    width:100%;
    height:100%;
    flex-direction:column;
}
.home{
    height:100%;
    display:flex;
}
.header{
    height:45px;
    background:black;
}
.main{
    flex:1;
    overflow:auto;
}
.footer{
    height:45px;
    background:black;
}